<a href="https://colab.research.google.com/github/RichardKameri/Gen_data_capstone/blob/main/Credit_card_spending.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv('/content/Credit card transactions - India - Simple.csv')

# Connect to SQLite DB
conn = sqlite3.connect('credit_card.db')

# Save to DB
df.to_sql('credit_card_spending', conn, if_exists='replace', index=False)

print("✅ Data loaded successfully.")

✅ Data loaded successfully.

In [ ]:
df.head()

   cid       name     type  notnull dflt_value  pk
0    0      index  INTEGER        0       None   0
1    1       City     TEXT        0       None   0
2    2       Date     TEXT        0       None   0
3    3  Card Type     TEXT        0       None   0
4    4   Exp Type     TEXT        0       None   0

In [ ]:
# check for null values
df.isnull().sum()

cid           0
name          0
type          0
notnull       0
dflt_value    7
pk            0
dtype: int64

In [ ]:
# iformation of the dataset
query = "PRAGMA table_info(credit_card_spending);"
df = pd.read_sql_query(query, conn)
print(df)

   cid       name     type  notnull dflt_value  pk
0    0      index  INTEGER        0       None   0
1    1       City     TEXT        0       None   0
2    2       Date     TEXT        0       None   0
3    3  Card Type     TEXT        0       None   0
4    4   Exp Type     TEXT        0       None   0
5    5     Gender     TEXT        0       None   0
6    6     Amount  INTEGER        0       None   0

In [ ]:
# change date  datatype from text to date/time

In [ ]:
query = "SELECT * FROM credit_card_spending LIMIT 10;"
df = pd.read_sql_query(query, conn)
print(df)

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574
5      5           Delhi, India   8-Sep-14     Silver    Bills      F  100036
6      6           Delhi, India  24-Feb-15       Gold    Bills      F  143250
7      7  Greater Mumbai, India  26-Jun-14   Platinum    Bills      F  150980
8      8           Delhi, India  28-Mar-14     Silver    Bills      F  192247
9      9           Delhi, India   1-Sep-14   Platinum    Bills      F   67932

In [ ]:
query = "SELECT SUM(Amount) AS total_spent FROM credit_card_spending;"
df = pd.read_sql_query(query, conn)
print(df)

   total_spent
0   4074833373

In [ ]:
query = "SELECT Gender, COUNT(*) FROM credit_card_spending GROUP BY Gender;"
df = pd.read_sql_query(query, conn)
print(df)

  Gender  COUNT(*)
0      F     13680
1      M     12372

In [ ]:
query = """
SELECT City, SUM(Amount) AS total_spent
FROM credit_card_spending
GROUP BY City
ORDER BY total_spent DESC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

                    City  total_spent
0  Greater Mumbai, India    576751476
1       Bengaluru, India    572326739
2       Ahmedabad, India    567794310
3           Delhi, India    556929212
4         Kolkata, India    115466943

In [ ]:
conn.close()
from google.colab import files
files.download('credit_card.db')